name: Build and Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: . # This stays as "." so it can see your requirements.txt in the root
          file: ./deploy/Dockerfile # <--- THIS IS THE FIX
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/arth-insight:latest